.system-power-row{
    margin-bottom: 20px;
}

.system-power-icon{
    width: 40px;
    display: inline-block;
}

.system-power-pip-wrapper{
    display: inline-block;
}

.power-pip{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: var(--background);
    border: 1px solid black;
}

.powered-pip-low{
    background-color: var(--action);
}

.powered-pip-med{
    background-color: var(--highlight);
}

.powered-pip-high{
    background-color: var(--bright);
}

.base-pip{
    background-color: var(--dark-background);
}



.system-power-name{
}