@font-face { font-family: Montserrat; src: url('/assets/Montserrat-Regular.ttf'); }
@font-face { font-family: JetBrainsMono; src: url('/assets/JetBrainsMono-Regular.ttf'); }

:root {
  --white: #fbf5ef;
  --bright: #fbbbad;
  --highlight: #ee8695;
  --action: #4a7a96;
  --background: #333f58;
  --dark-background: #292831;
}

body {
    background-color: var(--dark-background);
    color: white;
    font-family: Montserrat, sans-serif;
}

.hidden {
    display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#qr-code{
    background-color: white;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}

#role-select{
    margin-top: 20px;
    margin-bottom: 20px;
}

.crew-role-select {
    background-color: var(--action);
    padding: 20px;
    margin: 10px;
    border: 10px solid transparent;
}

.unavailable {
    border: 10px solid red;
}

.selected {
    border: 10px solid gray;
}

.confirmed {
    border: 10px solid blue;
}